@import "../../../variables";
.rounded-card {
    width: 100%;

    background: $color-white;
    border: 0;
    box-shadow: none;
    border-radius: 12px;
}
.rounded-card {
    &.show-shadow:hover {
        box-shadow: 10px 10px 20px $color-shadow-primary;
    }
}
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
        max-width: 76px;
        padding: 0px;
        margin-bottom: .5rem;
    }
}
