@import "../../variables";
.login-page {
    .btn{
        padding: .75rem;
    }
    background-color: $color-light-blue-2;
    padding: 0px 0px 0px 30px;
    height: 100%;
    .row{
        margin: 0px;
    }
    .login-bg {
        background-color: #7884c6;
        color: $color-white;
    }
    .login-links {
        list-style:none;
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding:5px 25px 5px 0px;
        li {
            a {
                padding: 5px 10px;
                color: $color-black;
            }
        }
    }
    .login-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        form {
            max-width: 60%;
            width: 100%;
            label,
            a {
                color: $color-primary;
            }
        }

        .login-heading {
            color: $color-primary;
            font-weight: normal;
            text-align: center;
            line-height: 25px;
            margin-top: 25px;
        }
    }
    .login-logo {
        width: 150px;
        height: 100px;
        padding-top: 30px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .login-page{
    .login-links {
        position: relative;
        bottom: 0px;
    }
}
}
