// colors
$color-primary: #015294;
$color-white: #fff;
$color-black: #000;
$color-light-blue: #f1f5fa;
$color-shadow-primary: #e5ebf3;
$color-shadow-secondary: #f3f6f9;
$color-secondary: #f89b32;
$color-grey: #e6e6e6;
$color-dark-grey: #aeaeae;
$color-red: #ff3e3e;
$color-light-blue-1: #deeaf2;
$color-info: #dadada;
$color-green: #019419;
$color-light-blue-2: #f9f9f9;
$moody-blue: #7783c6;
$cancel: rgba(1, 82, 148, 0.1);
